@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Features</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <ul>
        @foreach (string item in Model)
        {
            <li>@item</li>
        }
        <li>@ViewContext.RouteData.Values["action"].ToString()</li>
    </ul>
    @if (ViewContext.RouteData.Values["action"].ToString().Equals("ExtensionMethods"))
    {
        <a class="btn btn-primary" asp-action="Index">Previous Screen</a>
    }
    else
    {
        <a class="btn btn-primary" asp-action="ExtensionMethods">Next Screen</a>
    }
</body>
</html>
